
a {
	color: darkgreen;
	text-decoration: underline;
	transition: all .6s ;
}
a:hover {
	font-size:1.2em;
	color: white;
	text-decoration: none;
	-webkit-text-stroke: 2px darkgreen; 
	transition-timing-function: ease-in-out;
}
#topo{
	text-align: center;
	color: rgb(168, 57, 168);
	text-align: center;
}